*.bmk
*.brk
*.lst
*.asm
*.mcl
*.c.ini
*.cp
*.dbg
*.dct
*.dlt
*.log
*callertable.txt
*.dic
*.DBK
*.PWI
*.SDF
led.asm.ini
led.h.ini
preheater.lst.ini
18.10.2020.txt
doc/AN920-D.PDF
doc/dsub15_pcb.jpg
doc/dsub9_pcb.jpg
doc/freq.c
doc/generator.gif
doc/РєРѕРЅРІРµСЂС‚РѕСЂ_12_19.doc
doc/convertor_12_19.doc
doc/short/12.gif
doc/short/
